body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, rgba(15, 15, 27, 0.85), rgba(28, 28, 46, 0.9)),
              url('background.jpg') no-repeat center center / cover;
  color: white;
  font-family: 'Rubik Mono One', sans-serif;
  height: 100vh;
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.logo {
  font-size: 1.3rem;
  color: white;
}

.menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  transition: color 0.3s;
}

.menu a:hover {
  color: #ff0077;
}

.about-section {
  padding: 100px 40px 40px;
  margin-top: 60px;
  background-color: rgba(0,0,0,0.4);
  text-align: center;
  font-size: 1rem;
}


/* Секция правил */
.rules-section {
  padding: 100px 40px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 100vh;
  color: white;
  font-size: 1rem;
  text-align: left;
}
.rules-section h2 {
  font-size: 1.5rem;
  color: #ff0077;
  margin-bottom: 20px;
}

.rules-section {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease;
}
.rules-section.visible {
  opacity: 1;
  transform: translateY(0);
}
